#headerLinks{
    position: relative;
}

#headerLinks > a {
    display: block;
}

.headerLinks > ul {
    position: absolute;
    display: none; /* THis needs to be changed to none */
    list-style: none;
    float: left;
    text-align: left;
    padding: 10px;
    margin: 11px 28px;
    background-color: lightslategray;
    width: 180px;
    border-radius: 0px 0px 5px 5px;
}

.headerLinks:hover > ul {
    display: block;
}

.menu-link {
    padding: 10px 10px;
}

.menu-link:hover {
    background-color: cornflowerblue;
}

/* Sub Menu */

/* link that opens the menu */
.menu-link {
    position: relative;
}

.menu-link span {
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* special for submenu enabled links */
.submenu-enabled {

}

.submenu-links {
    position: absolute;
    display: none; /* THis needs to be changed to none */
    list-style: none;
    text-align: left;
    padding: 10px 10px 10px 10px;
    margin: 11px 28px;
    background-color: lightslategray;
    width: 180px;
    border-radius: 0px 5px 5px 0px;
    left: 85%;
    top: -5px;
}

.menu-link:hover > ul {
    display: block;
}

.submenu-link {
    padding: 10px 10px;
}

.submenu-link:hover {
    background-color:cornflowerblue;
}